//colors
@bg-grey: #303030;
@black: #101010;
@white: #dadada;
@grey-light: #202020;

//media
@hover: ~"(hover: hover)";
@md: ~"(max-width: 1023px)";
@xs: ~"(max-width: 767px)";

//styles
@border-radius: 8px;
@transition: all 0.2s ease-out;

//animations
@keyframes skeleton-gradient {
  to {
    background-position-x: -20%;
  }
}